<nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">
		<h1><a href="/">{{ site.name }}</a></h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
	</ul>

	<section class="top-bar-section">
		<!-- Right Nav Section -->
		<ul class="right">
			<li>
			<a href="mailto:zedwarth@gmail.com"><i class="fa fa-envelope"></i></a>
			</li>
			<li>
			<a href="https://twitter.com/zedwarth" target="blank"><i class="fa fa-twitter"></i></a>
			</li>
			<li >
			<a href="https://github.com/zedwarth" target="blank"><i class="fa fa-github"></i></a>
			</li>
			<li >
			<a href="https://www.linkedin.com/pub/seth-szymanski/b/67a/42a" target="bank"><i class="fa fa-linkedin"></i></a>
			</li>
		</ul>
	</section>
</nav>
